<div class="row p-1 my-3 justify-content-center" *ngIf="recetario != null">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/recipes">Recetario</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ categoria.name }}
      </li>
    </ol>
  </nav>
</div>
<div class="text-center mt-4" *ngIf="recetario != null">
  <h4>Estas son las recetas de la categoría {{ categoria.name }}</h4>
</div>
<div class="container-fluid">
  <div class="row">
    <div
      *ngIf="recetario == null"
      class="justify-content-center text-center mt-3"
    >
      <h4>Aún no tenemos recetas en la categoría de {{ categoria.name }}.</h4>
      <img
        src="assets/img/404-error.png"
        alt="No se encuentran resultados"
        id="notFound"
      />
    </div>
    <div
      class="col-md-4 col-lg-4 col-xl-4 col-sm-6 col-xs-12"
      *ngIf="recetario != null"
    >
      <div
        class="card text-center mt-2"
        *ngFor="let item of recetario; let i = index"
      >
        <!-- con mt-2 añado a la card un margin-top de un 2% -->
        <div *ngIf="item.file == null">
          <img
            src="assets/img/logo.svg"
            class="card-img-top"
            id="fileNotFound"
            alt="Imagen no encontrada"
          />
        </div>
        <div *ngIf="item.file != null">
          <img
            src="{{ obtenerImagenReceta(item.file) }}"
            class="card-img-top"
            alt="{{ item.recipeName }}"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ item.recipeName.toUpperCase() }}</h5>
          <a
            [routerLink]="['/recipes/details', item.id]"
            class="btn colorGreenP"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/recipes">
      VOLVER AL RECETARIO
    </button>
  </div>
</div>
