<div class="wrapper">
  <div class="pLoading">
    <p>Un poquito de paciencia ...</p>
  </div>

  <div class="press">
    <div class="holder"></div>
    <div class="lid"></div>
    <div class="carafe">
      <div class="drop"></div>
      <div class="spout"></div>
      <div class="contents">
        <div class="grounds"></div>
        <div class="water"></div>
      </div>
    </div>
    <div class="plunger">
      <div class="shaft">
        <div class="knob"></div>
      </div>
      <div class="filter"></div>
    </div>
  </div>
</div>
