<!-- <app-show-details-recipe [id]="id"></app-show-details-recipe> -->
<div *ngIf="recipe != null">
  <div class="row p-1 my-3 justify-content-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/optionsADMIN">GESTIÓN</a>
        </li>
        <li class="breadcrumb-item active">
          <a routerLink="/optionsADMIN/recipesConf"> RECETAS </a>
        </li>
        <li class="breadcrumb-item active">
          <a (click)="navigateTO()">{{ originBreadCrumb }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ recipe.recipeName.toUpperCase() }}
        </li>
      </ol>
    </nav>
  </div>
  <app-recipe-details-template [id]="id"></app-recipe-details-template>
  <p>Hola</p>
</div>
