<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/optionsADMIN">GESTIÓN</a></li>
      <li class="breadcrumb-item active">
        <a routerLink="/optionsADMIN/commentsConf"> COMENTARIOS </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">TODOS</li>
    </ol>
  </nav>
</div>

<div *ngIf="pending">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pending">
  <div class="p-3 text-center my-3">
    <!-- SI NO HAY COMENTARIOS -->
    <p *ngIf="allCommentsBD == null">
      ¡Vaya! Todavía no existe ningún comentario en nuestro Foodie Crush blog.
    </p>
    <!-- SI HAY COMENTARIOS -->
    <div *ngIf="allCommentsBD != null">
      <div *ngIf="allCommentsBD.length >= 1">
        <p *ngIf="allCommentsBD.length == 1">
          De momento nuestro Foodie Crush blog solo tiene un único comentario.
        </p>
        <p *ngIf="allCommentsBD.length > 1">
          Nuestro Foodie Crush blog cuenta ya con un total de
          {{ allCommentsBD.length }} comentarios publicados en la base de datos.
        </p>
        <p-table
          [value]="allCommentsBD"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-striped"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} entradas"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="id" class="encab">
                ID <p-sortIcon field="id"></p-sortIcon>
              </th>

              <th pSortableColumn="fechaBonita" class="encab">
                FECHA PUBLICACIÓN
                <p-sortIcon field="fechaBonita"></p-sortIcon>
              </th>
              <th pSortableColumn="username" class="encab">
                PUBLICADO POR <p-sortIcon field="username"></p-sortIcon>
              </th>
              <th pSortableColumn="isPending" class="encab">
                ESTADO <p-sortIcon field="isPending"></p-sortIcon>
              </th>
              <th class="encab">VER</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-comment let-columns="comment">
            <tr class="text-center">
              <td>{{ comment.id }}</td>
              <td>{{ comment.fechaBonita }}</td>
              <td>{{ comment.username }}</td>
              <td>{{ getStatus(comment) }}</td>
              <td>
                <button class="btn colorYellowP" (click)="showComment(comment)">
                  <i class="fa fa-search"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/optionsADMIN/commentsConf">
      ATRÁS
    </button>
  </div>
</div>
