<!-- BREADCRUMBS -->
<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/search">BUSCADOR</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        BUSCAR RECETA POR NOMBRE
      </li>
    </ol>
  </nav>
</div>

<!-- INPUT BUSCADOR -->
<div class="row m-3">
  <div class="col text-center">
    <p>Escribe aquí abajo el nombre de la receta que estás buscando:</p>
    <input
      type="text"
      [(ngModel)]="name"
      placeholder="Nombre"
      name="nombre"
      aria-required="true"
    />
    <button class="btn colorGreenP m-1" (click)="getRecipe(name)">
      BUSCAR
    </button>
  </div>
</div>

<!-- SE MUESTRAN LAS RECETAS CON NOMBRE EXACTO -->
<div *ngIf="show">
  <div class="m-4" *ngIf="recipes1 != null">
    <p>
      Estas son las recetas con nombre: <b>{{ nameInput.toUpperCase() }}</b>
    </p>
    <div
      class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 justify-content-center my-2"
    >
      <div class="col" *ngFor="let item of recipes1; let i = index">
        <div class="card text-center h-100">
          <div *ngIf="item.file == null">
            <img
              src="assets/img/logo.svg"
              class="card-img-top"
              id="fileNotFound"
              alt="Imagen no encontrada"
            />
          </div>
          <div *ngIf="item.file != null">
            <img
              src="{{ obtenerImagenReceta(item.file) }}"
              class="card-img-top pic"
              alt="{{ item.recipeName }}"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title" *ngIf="item.recipeName.length <= 25">
              {{ item.recipeName.toUpperCase() }}
            </h5>
            <h5
              class="card-title"
              *ngIf="item.recipeName.length > 25"
              data-bs-toggle="tooltip"
              title="{{ item.recipeName.toUpperCase() }}"
            >
              {{ item.recipeName.toUpperCase().substr(0, 20) + " ..." }}
            </h5>
          </div>
          <div class="card-footer">
            <a
              [routerLink]="['/recipes/details', item.id]"
              class="btn colorGreenP"
              >Ver más</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NO HAY RECETAS CON NOMBRE EXACTO Y SE MUESTRAN LAS RECETAS QUE CONTIENEN PARTE DEL NOMBRE -->
  <div class="m-4" *ngIf="recipes2 != null && recipes1 == null">
    <p>
      ¡Vaya! No tenemos ninguna receta con nombre exacto:
      <b>{{ nameInput.toUpperCase() }}</b>
    </p>
    <p>Pero quizás lo que buscas esté por aquí:</p>
    <div
      class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 justify-content-center"
    >
      <div class="col" *ngFor="let item of recipes2; let i = index">
        <div class="card text-center mt-2 h-100">
          <div *ngIf="item.file == null">
            <img
              src="assets/img/logo.svg"
              class="card-img-top"
              id="fileNotFound"
              alt="Imagen no encontrada"
            />
          </div>
          <div *ngIf="item.file != null">
            <img
              src="{{ obtenerImagenReceta(item.file) }}"
              class="card-img-top pic"
              alt="{{ item.recipeName }}"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title" *ngIf="item.recipeName.length <= 25">
              {{ item.recipeName.toUpperCase() }}
            </h5>
            <h5
              class="card-title"
              *ngIf="item.recipeName.length > 25"
              data-bs-toggle="tooltip"
              title="{{ item.recipeName.toUpperCase() }}"
            >
              {{ item.recipeName.toUpperCase().substr(0, 20) + " ..." }}
            </h5>
          </div>
          <div class="card-footer">
            <a
              [routerLink]="['/recipes/details', item.id]"
              class="btn colorGreenP"
              >Ver más</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NO EXISTEN RECETAS CON ESE NOMBRE NI TAMPOCO CON NADA PARECIDO -->
  <div class="m-4 text-center" *ngIf="recipes2 == null && recipes1 == null">
    <p>
      ¡Vaya! No tenemos ninguna receta que coincida con el nombre:
      <b>{{ name.toUpperCase() }}</b>
    </p>
    <img
      src="assets/img/404-error.png"
      alt="No se encuentran resultados"
      id="notFound"
    />
  </div>
</div>

<!-- BOTÓN VOLVER ATRÁS -->
<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/search">
      VOLVER AL BUSCADOR
    </button>
  </div>
</div>
