<!-- BREADCRUMBS -->
<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/optionsADMIN">GESTIÓN</a></li>
      <li class="breadcrumb-item active">
        <a routerLink="/optionsADMIN/recipesConf"> RECETAS </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">NUEVA</li>
    </ol>
  </nav>
</div>
<div class="m-3">
  <div class="card p-2">
    <!-- FORMULARIO PARA SUBIR UN ARCHIVO -->
    <app-upload-recipe-file></app-upload-recipe-file>
    <!-- FORMULARIO PARA SUBIR LOS DATOS DE UNA RECETA -->
    <app-recipe-form-template></app-recipe-form-template>
  </div>
</div>

<!-- BOTÓN PARA VOLVER ATRÁS -->
<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/optionsADMIN/recipesConf">
      ATRÁS
    </button>
  </div>
</div>
