<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">BUSCADOR</li>
    </ol>
  </nav>
</div>

<div class="row p-1 mt-2 justify-content-center">
  <div class="text-center">
    <h5 class="mb-2">¿Buscas una receta por su nombre exacto?</h5>
    <h5>¿Necesitas gastar esas verduras del frigorífico?</h5>
    <br />
    <h5>¡Este es tu sitio!</h5>
  </div>
</div>

<div class="row m-3">
  <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-xs-12 my-2">
    <div class="card h-100">
      <div class="card-header colorYellowP m-2"></div>
      <div class="card-body text-center">
        <img src="assets/img/icons/recipe-book_title.png" alt="" />
        <h5 class="">BUSCAR POR NOMBRE</h5>

        <a [routerLink]="['/search/searchByName']" class="btn colorPurpleP"
          >IR</a
        >
      </div>
      <div class="card-footer colorYellowP m-2"></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-xs-12 my-2">
    <div class="card h-100">
      <div class="card-header colorYellowP m-2"></div>
      <div class="card-body text-center">
        <img src="assets/img/icons/recipe.png" alt="" />
        <h5 class="">BUSCAR POR INGREDIENTES</h5>

        <a
          [routerLink]="['/search/searchByIngredients']"
          class="btn colorPurpleP"
          >IR</a
        >
      </div>
      <div class="card-footer colorYellowP m-2"></div>
    </div>
  </div>
</div>

<div class="row"></div>
