<!-- BREADCRUMBS -->
<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/optionsADMIN">GESTIÓN</a></li>
      <li class="breadcrumb-item active" aria-current="page">RECETAS</li>
    </ol>
  </nav>
</div>

<!-- INTRO -->
<div class="row p-1 mt-2 justify-content-center">
  <div class="text-center">
    <p>En esta sección puedes gestionar todo lo relacionado con las recetas.</p>
    <p>¡Manos a la obra!</p>
  </div>
</div>

<!-- MOSTRANDO PANEL DE OPCIONES DE RECETAS -->
<div class="row m-2">
  <!-- VER RECETAS PENDIENTES -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card mb-4">
      <div class="card-header colorYellowP"></div>
      <div class="card-body text-center">
        <img src="assets/img/icons/question.png" alt="" />
        <h5 class="my-2">PENDIENTES</h5>
        <button class="btn colorGreenP" routerLink="pendingRecipes">MÁS</button>
      </div>
      <div class="card-footer colorYellowP"></div>
    </div>
  </div>

  <!-- VER COMENTARIOS APROBADAS -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card mb-4">
      <div class="card-header colorYellowP"></div>
      <div class="card-body text-center">
        <img src="assets/img/icons/stamp.png" alt="" />
        <h5 class="my-2">APROBADAS</h5>
        <button class="btn colorGreenP" routerLink="approvedRecipes">
          MÁS
        </button>
      </div>
      <div class="card-footer colorYellowP"></div>
    </div>
  </div>

  <!-- PUBLICAR UNA NUEVA RECETA -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card mb-4">
      <div class="card-header colorYellowP"></div>
      <div class="card-body text-center">
        <img src="assets/img/icons/notebook.png" alt="" />
        <h5 class="my-2">NUEVA</h5>
        <button class="btn colorGreenP" routerLink="newRecipe">MÁS</button>
      </div>
      <div class="card-footer colorYellowP"></div>
    </div>
  </div>

  <!-- VER TODAS LAS RECETAS -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-xs-12">
    <div class="card mb-4">
      <div class="card-header colorYellowP"></div>
      <div class="card-body text-center">
        <img src="assets/img/icons/recipe-book.png" alt="" />
        <h5 class="my-2">TODAS</h5>
        <button class="btn colorGreenP" routerLink="allRecipes">MÁS</button>
      </div>
      <div class="card-footer colorYellowP"></div>
    </div>
  </div>
</div>
<!-- end row-->

<!-- BOTÓN PATA VOLVER ATRÁS -->
<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/optionsADMIN">
      VOLVER AL PANEL DE GESTIÓN
    </button>
  </div>
</div>
