<div class="row my-2 justify-content-center">
  <div class="col-12 m-1">
    <div class="m-3">
      <div class="card">
        <div class="card-header colorYellowP m-2">
          <div class="card-heading text-center">Foodie Crush</div>
        </div>

        <div class="card-body">
          <h5 class="mb-2">
            En primer lugar, muchas gracias por compartir tu receta 😊
          </h5>
          <p class="text-muted text-sm mb-3 d-none d-md-block d-sm-block">
            Es muy sencillo. Tan solo tienes que rellenar los siguientes campos
            con la información que se detalla en cada uno de ellos.
          </p>

          <app-upload-recipe-file></app-upload-recipe-file>

          <form (ngSubmit)="publicar()">
            <div class="row">
              <div class="col-md">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInputGrid"
                    placeholder="Título de la Receta"
                    name="recipeName"
                    [(ngModel)]="recipe.recipeName"
                    required
                  />
                  <label for="floatingInputGrid">Título de la receta</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating mb-3">
                  <select
                    class="form-select pb-1"
                    id="floatingSelectGrid"
                    placeholder="Categoría"
                    name="category"
                    [(ngModel)]="recipe.category"
                    required
                  >
                    <option selected>Escoger...</option>
                    <option value="1">Pasta</option>
                    <option value="2">Arroz</option>
                    <option value="3">Carne</option>
                    <option value="4">Pescados</option>
                    <option value="5">Postres</option>
                    <option value="6">Otros</option>
                  </select>
                  <label for="floatingSelectGrid"
                    >Selecciona una categoría para tu receta</label
                  >
                </div>
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-md">
                <label class="col-form-label"
                  >¿Qué ingredientes necesitamos?</label
                >
                <div class="input-group">
                  <input
                    class="form-control p-2"
                    placeholder="Añadir ingrediente"
                    [(ngModel)]="ingrediente"
                    (keyup.enter)="agregarIngrediente()"
                    name="ingredient"
                  />
                  <button
                    class="btn colorPinkP"
                    type="button"
                    (click)="agregarIngrediente()"
                  >
                    Añadir
                  </button>
                </div>
              </div>
              <div class="col-md">
                <label class="col-form-label">¿Qué cantidad (en gramos)?</label>
                <div class="input-group">
                  <input
                    class="form-control p-2"
                    placeholder="Añadir cantidad en gramos"
                    [(ngModel)]="cantidad"
                    (keyup.enter)="agregarCantidad()"
                    name="amount"
                  />
                  <button
                    class="btn colorPinkP"
                    type="button"
                    (click)="agregarCantidad()"
                  >
                    Añadir
                  </button>
                </div>
              </div>
            </div>

            <!-- Listado de ingredientes -->
            <div *ngIf="cantidades.length > 0">
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"
                  >Ingredientes y Cantidades</label
                >
                <div class="col-sm-9">
                  <div
                    class="input-group col-md"
                    *ngFor="let cant of cantidades; let i = index"
                  >
                    <input
                      name="{{ cant }}"
                      class="form-control"
                      required
                      [ngModel]="ingredientes[i].toUpperCase() + ' - ' + cant"
                    />
                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      (click)="eliminar(i)"
                    >
                      Eliminar este ingrediente
                    </button>
                  </div>
                </div>
              </div>
              <p>
                Si has terminado de añadir ingredientes y estás seguro, pulsa
                CONFIRMAR INGREDIENTES.
              </p>
              <button
                class="btn colorGreenP"
                type="button"
                (click)="crearLinea()"
              >
                CONFIRMAR INGREDIENTES
              </button>
            </div>

            <div class="mb-3 row">
              <label class="col-form-label"
                >Escribe a continuación los pasos a seguir en la receta:</label
              >
              <div class="input-group">
                <input
                  class="form-control p-2"
                  placeholder="Añadir Paso"
                  [(ngModel)]="paso"
                  (keyup.enter)="agregarPaso()"
                  name="step"
                />
                <button
                  class="btn colorGreenP"
                  type="button"
                  (click)="agregarPaso()"
                >
                  Añadir
                </button>
              </div>
            </div>

            <!-- Listado de pasos de la receta-->
            <div *ngIf="pasos.length > 0">
              <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"
                  >Elaboración de la receta</label
                >
                <div class="col-sm-9">
                  <div
                    class="input-group col-md"
                    *ngFor="let paso of pasos; let i = index"
                  >
                    <input
                      name="{{ paso }}"
                      class="form-control"
                      required
                      [ngModel]="i + '.  ' + paso.toUpperCase()"
                    />
                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      (click)="eliminarPaso(i)"
                    >
                      Eliminar este paso
                    </button>
                  </div>
                </div>
              </div>
              <p>
                Si estás seguro que estos son los pasos a seguir en la receta,
                pulsa CONFIRMAR PASOS.
              </p>
              <button
                class="btn colorGreenP"
                type="button"
                (click)="confirmarPasos()"
              >
                CONFIRMAR PASOS
              </button>
            </div>

            <button class="btn colorPurpleP mt-2" type="submit">
              PUBLICAR
            </button>
          </form>

          <div class="card-footer colorYellowP m-2 text-center">
            <div class="text-sm text-muted">¡Gracias!</div>
          </div>
        </div>
        <!-- cierra el card-body-->
      </div>
      <!-- cierra la card -->
    </div>
  </div>
</div>

<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <!-- PARA GESTIONAR QUE EL VOLVER SEA DIFERENTE DEPENDIENDO DE LA RUTA QUE SE HAYA SEGUIDO PARA LLEGAR HASTA AQUÍ -->
    <button class="btn colorPurpleP" (click)="back()">VOLVER</button>
  </div>
</div>
