<div class="col-12">
  <!-- navbar-expand-sm indicar el tamaño a partir del cual la barra se mostrará de forma expandida -->
  <nav class="navbar navbar-expand-sm colorYellowLightP navbar-light py-0">
    <!--py-0 para quitar el padding top-bottom que trae navbar por defecto-->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.svg" class="logo" alt="logo" />
      </a>
      <!-- button hamburger se mostrará únicamente cuando el menú se colapse y se ocultará cuando el menú aparezca expandido     -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-end"
        id="collapsibleNavbar"
      >
        <ul class="nav navbar-nav mr-auto">
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              class="nav-link"
              routerLink="/home"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
              ><i class="fas fa-home" aria-hidden="true"></i> Inicio</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              routerLink="/recipes"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
              ><i class="fas fa-folder-open"></i> Recetario</a
            >
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
            *ngIf="!userDetails || userDetails?.role === 'USER'"
          >
            <a
              class="nav-link"
              routerLink="/optionsUser"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
              ><i class="fas fa-file-alt"></i> Área de Foodies</a
            >
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about"><i class="fas fa-smile"></i> Sobre mí</a>
              </li> 
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link"  routerLink="/contacto"><i class="fas fa-address-card"></i> Contacto</a>
              </li>-->
          <li routerLinkActive="active" *ngIf="!userDetails">
            <a
              class="nav-link"
              routerLink="access"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
              ><i class="fas fa-user-alt"></i> Acceder</a
            >
          </li>
          <li
            routerLinkActive="active"
            *ngIf="userDetails?.role === 'ADMIN'"
            class="nav-item dropdown"
          >
            <a
              class="nav-link dropdown"
              routerLink="optionsADMIN"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavbar"
              ><i class="fas fa-cog"></i> Gestión</a
            >
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
            *ngIf="userDetails"
            id="logOut"
          >
            <a class="nav-link" (click)="onlogout()"
              ><i class="fas fa-sign-out-alt"></i> Salir</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
