<div class= "col-12">
 
    <!-- navbar-expand-sm indicar el tamaño a partir del cual la barra se mostrará de forma expandida -->
    <nav class="navbar navbar-expand-sm colorYellowLightP navbar-light py-0"> <!--py-0 para quitar el padding top-bottom que trae navbar por defecto-->
        <div class="container-fluid">
    
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo.svg" class="logo" alt="logo"> 
          </a>
          <!-- button se mostrará únicamente cuando el menú se colapse y se ocultará cuando el menú aparezca expandido     -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    
            <ul class=" nav navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link"  routerLink="/home" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><i class="fas fa-home" aria-hidden="true"></i> Inicio</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link"  routerLink="/recipes" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><i class="fas fa-folder-open"></i> Recetario</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/optionsUser" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><i class="fas fa-file-alt"></i> Área de Foodies</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about"><i class="fas fa-smile"></i> Sobre mí</a>
              </li> 
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link"  routerLink="/contacto"><i class="fas fa-address-card"></i> Contacto</a>
              </li>-->
              <li routerLinkActive="active" *ngIf="!user">
                <a class="nav-link"  routerLink="access" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><i class="fas fa-user-alt"></i> Acceder</a>
              </li>
              <li routerLinkActive="active" *ngIf="user?.role === 'ADMIN'">
                <a class="nav-link"  routerLink="optionsADMIN" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><i class="fas fa-user-alt"></i> Gestión</a>
              </li>
              <li class="nav-item" routerLinkActive="active" *ngIf="user">
                <a  class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-sign-out-alt"></i> Salir</a>
              </li>
            </ul>
            
          </div>
  
        </div>
        
      </nav> 



      
  <!-- Modal para cerrar sesión -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cierre de Sesión</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Está seguro que quiere cerrar su sesión?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn colorPinkP" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn colorGreenP" data-bs-dismiss="modal" (click)="onlogout()">Sí</button>
            </div>
          </div>
        </div>
      </div> 
  
  
  
  </div>
  