<div class="col-12">
  <div class="row py-0">
    <!-- SE MUESTRA EL COMPONENTE DE LA BARRA DE NAVEGACIÓN -->
    <app-navbar></app-navbar>
  </div>
</div>

<div class="row py-0">
  <div class="col-12 text-center mt-2">
    <!-- SE MUESTRA LA IMAGEN CENTRAL CON EL NOMBRE DE LA APLICACIÓN -->
    <img src="assets/img/logo_small.png" width="15%" class="imagenInicio" />
  </div>
</div>

<!-- ESPACIO DONDE SE CARGAN LOS DISTINTOS COMPONENTES -->
<router-outlet></router-outlet>

<!-- SE MUESTRA EL COMPONENTE DEL FOOTER -->
<div class="col-12">
  <div class="row py-0">
    <app-footer></app-footer>
  </div>
</div>
