<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/optionsUser">ÁREA DE FOODIES</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/optionsUser/myRecipes">MIS RECETAS</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">EDITAR RECETA</li>
    </ol>
  </nav>
</div>

<div class="row p-1 my-3 justify-content-center" *ngIf="!pending">
  <div class="text-center mb-2">
    <h4>Editando tu receta <{{ title.toUpperCase() }}></h4>

    <h6>¡Adelante!</h6>
  </div>
</div>
<div class="row m-auto">
  <form (ngSubmit)="editRecipe()" *ngIf="!pending">
    <!-- EDITAR NOMBRE -->

    <div class="row">
      <div class="col-md">
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control recipeName"
            id="floatingInputGrid"
            placeholder="Título de la Receta"
            name="recipeName"
            [(ngModel)]="recipe.recipeName"
            required
            disabled
          />
          <label for="floatingInputGrid">Título de la receta</label>
        </div>
      </div>
      <div class="col-md my-2">
        <div>
          <button class="btn colorPinkP mx-1" (click)="activeName(active)">
            EDITAR
          </button>
          <button class="btn colorGreenP mx-1" (click)="activeName(inactive)">
            GUARDAR
          </button>
        </div>
      </div>
    </div>

    <!-- EDITAR CATEGORÍA -->

    <div class="row">
      <div class="col-md">
        <div class="form-floating mb-2" *ngIf="!showSelect">
          <input
            type="text"
            class="form-control recipeCategory"
            id="floatingInputGrid"
            placeholder="Categoría"
            name="category"
            [(ngModel)]="recipe.category.name"
            required
            disabled
          />
          <label for="floatingInputGrid">Categoría</label>
        </div>
      </div>
      <span *ngIf="showSelect">
        <div class="form-floating mb-2">
          <select
            class="form-select pb-1"
            id="floatingSelectGrid"
            placeholder="Categoría"
            name="category"
            [(ngModel)]="recipe.category"
            required
          >
            <option selected>Escoger...</option>
            <option value="1">Pasta</option>
            <option value="2">Arroz</option>
            <option value="3">Carne</option>
            <option value="4">Pescados</option>
            <option value="5">Postres</option>
            <option value="6">Otros</option>
          </select>
          <label for="floatingSelectGrid"
            >Selecciona una categoría para tu receta</label
          >
        </div>
      </span>
      <div class="col-md my-2">
        <div>
          <button class="btn colorPinkP mx-1" (click)="activeCategory(active)">
            EDITAR
          </button>
          <button
            class="btn colorGreenP mx-1"
            (click)="activeCategory(inactive)"
          >
            GUARDAR
          </button>
        </div>
      </div>
    </div>

    <!-- INGREDIENTES -->
    <div class="row">
      <div class="col-md">
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control recipeName"
            id="floatingInputGrid"
            placeholder="Título de la Receta"
            name="recipeName"
            [(ngModel)]="recipe.recipeName"
            required
            disabled
          />
          <label for="floatingInputGrid">Título de la receta</label>
        </div>
      </div>
      <div class="col-md my-2">
        <div>
          <button class="btn colorPinkP mx-1" (click)="activeName(active)">
            EDITAR
          </button>
          <button class="btn colorGreenP mx-1" (click)="activeName(inactive)">
            GUARDAR
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="text-center mb-2">
        <button class="btn colorPurpleP" type="submit">GUARDAR CAMBIOS</button>
      </div>
    </div>
  </form>
</div>
