<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/optionsADMIN">GESTIÓN</a></li>
      <li class="breadcrumb-item active" aria-current="page">INGREDIENTES</li>
    </ol>
  </nav>
</div>
<p>ingredients-conf works!</p>
<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/optionsADMIN">VOLVER</button>
  </div>
</div>
