<!-- BREADCRUMBS -->
<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/optionsADMIN">GESTIÓN</a></li>
      <li class="breadcrumb-item active">
        <a routerLink="/optionsADMIN/ingredientsConf"> INGREDIENTES </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">PENDIENTES</li>
    </ol>
  </nav>
</div>
<!-- SPINNER TIEMPO DE CARGA DE LA PETICIÓN -->
<div *ngIf="pending">
  <app-spinner></app-spinner>
</div>

<!-- DATATABLE TODOS INGREDIENTES -->
<div *ngIf="!pending">
  <div class="p-3 text-center my-3">
    <!-- SI NO HAY INGREDIENTES -->
    <p *ngIf="pendingIngredientsBD == null">
      ¡Buen trabajo no hay ningún ingrediente pendiente de aprobar!
    </p>

    <!-- SI HAY INGREDIENTES -->
    <div *ngIf="pendingIngredientsBD != null">
      <div *ngIf="pendingIngredientsBD.length >= 1">
        <p *ngIf="pendingIngredientsBD.length == 1">
          Solo existe 1 ingrediente que todavía no has aprobado y por lo tanto
          no se muestra en el Foodie recetario. Tenemos trabajo por hacer,
          ¡adelante!
        </p>
        <p *ngIf="pendingIngredientsBD.length > 1">
          Existen un total de {{ pendingIngredientsBD.length }} ingredientes que
          todavía no has aprobado y por lo tanto no se muestran en el Foodie
          recetario. Tenemos trabajo por hacer, ¡adelante!
        </p>
        <!-- DATATABLE -->
        <p-table
          [value]="pendingIngredientsBD"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-striped"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} entradas"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="id" class="encab">
                ID <p-sortIcon field="id"></p-sortIcon>
              </th>

              <th pSortableColumn="name" class="encab">
                NOMBRE <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="is_pending" class="encab">
                ESTADO <p-sortIcon field="is_pending"></p-sortIcon>
              </th>
              <th class="encab">APROBAR</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ingredient let-columns="ingredient">
            <tr class="text-center">
              <td>{{ ingredient.id }}</td>
              <td>{{ ingredient.name }}</td>
              <td>{{ getStatus(ingredient) }}</td>
              <td>
                <button
                  class="btn colorPinkP"
                  (click)="changeStatus(ingredient.id)"
                >
                  <i class="fas fa-check-circle"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- BOTÓN PATA VOLVER ATRÁS -->
<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/optionsADMIN/ingredientsConf">
      ATRÁS
    </button>
  </div>
</div>
