<!-- BREADCRUMBS -->
<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/search">BUSCADOR</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        BUSCAR RECETA POR INGREDIENTES
      </li>
    </ol>
  </nav>
</div>

<!-- INTRO -->
<div class="row m-3">
  <div class="col text-center">
    <p>
      Aquí podrás encontrar recetas para esos ingredientes que te miran desde
      hace semanas en la nevera.
    </p>
    <p>
      Escribe aquí abajo tantos ingredientes como quieras separados por comas <
      , >.
    </p>
  </div>
</div>
<!-- INPUT BUSCADOR INGREDIENTES-->
<div>
  <div class="row m-3">
    <div class="col">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="floatingInput"
          type="text"
          [(ngModel)]="search"
          placeholder="Nombre"
          name="Nombre"
          email
          aria-required="true"
        />
        <label for="floatingInput">Ingrediente/s: </label>
        <button class="btn colorYellowP m-1" (click)="getRecipe(search)">
          BUSCAR
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SPINNER TIEMPO DE CARGA DE LA PETICIÓN -->
<div *ngIf="pending">
  <app-spinner></app-spinner>
</div>

<div *ngIf="recipes != null">
  <!-- MOSTRANDO RECETAS-->
  <div class="m-3" *ngIf="recipes.length > 0">
    <p>
      Mostrando recetas con los ingredientes: <b>{{ search }}</b
      >.
    </p>
    <div
      class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 justify-content-center"
    >
      <div class="col" *ngFor="let item of recipes; let i = index">
        <div class="card text-center h-100 my-2">
          <div *ngIf="item.file == null">
            <img
              src="assets/img/logo.svg"
              class="card-img-top"
              id="fileNotFound"
              alt="Imagen no encontrada"
            />
          </div>
          <div *ngIf="item.file != null">
            <img
              src="{{ obtenerImagenReceta(item.file) }}"
              class="card-img-top pic"
              alt="{{ item.recipeName }}"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title" *ngIf="item.recipeName.length <= 25">
              {{ item.recipeName.toUpperCase() }}
            </h5>
            <h5
              class="card-title"
              *ngIf="item.recipeName.length > 25"
              data-bs-toggle="tooltip"
              title="{{ item.recipeName.toUpperCase() }}"
            >
              {{ item.recipeName.toUpperCase().substr(0, 20) + " ..." }}
            </h5>
          </div>
          <div class="card-footer">
            <a
              [routerLink]="['/recipes/details', item.id]"
              class="btn colorGreenP"
              >Ver más</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SI NO HAY RECETAS CON ESOS INGREDIENTES -->
<div *ngIf="recipes == null">
  <div class="m-3">
    <p>
      No tenemos recetas que contengan exactamente los ingredientes:
      <b>{{ search }}</b
      >.
    </p>
  </div>
</div>
<!-- BOTÓN VOLVER ATRÁS -->
<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/search">
      VOLVER AL BUSCADOR
    </button>
  </div>
</div>
