<!-- BREADCRUMBS -->
<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        ÁREA DE FOODIES
      </li>
    </ol>
  </nav>
</div>

<!-- INTRO -->
<div *ngIf="mostrar">
  <div class="row p-1 mt-2 justify-content-center">
    <div class="text-center">
      <h4>Hola {{ user.username }}, ¿qué quieres hacer?</h4>
    </div>
  </div>

  <!-- OPCIONES DEL USUARIO -->
  <div class="row m-2">
    <!-- OPCIÓN  PUBLICAR RECETA -->
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-12">
      <div class="card mb-4">
        <div class="card-header colorYellowP"></div>
        <div class="card-body text-center">
          <img src="assets/img/icons/notebook.png" alt="" />
          <h5 class="my-2">PUBLICAR</h5>
          <button
            class="btn colorGreenP"
            routerLink="/optionsUser/uploadRecipe"
          >
            MÁS
          </button>
        </div>
        <div class="card-footer colorYellowP"></div>
      </div>
    </div>
    <!-- OPCIÓN VER MIS RECETAS -->
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-12">
      <div class="card mb-4">
        <div class="card-header colorYellowP"></div>
        <div class="card-body text-center">
          <img src="assets/img/icons/recipe-book.png" alt="" />
          <h5 class="my-2">MIS RECETAS</h5>
          <button class="btn colorGreenP" routerLink="/optionsUser/myRecipes">
            MÁS
          </button>
        </div>
        <div class="card-footer colorYellowP"></div>
      </div>
    </div>

    <!-- VER MIS NOTIFICACIONES -->
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-12">
      <div class="card mb-4">
        <div class="card-header colorYellowP"></div>
        <div class="card-body text-center">
          <div *ngIf="notifications.length == 0">
            <img src="assets/img/icons/bell.png" alt="" />
          </div>
          <div *ngIf="notifications.length != 0">
            <img src="assets/img/icons/notification.png" alt="" />
          </div>
          <h5 class="my-2">NOTIFICACIONES</h5>
          <button class="btn colorGreenP" routerLink="/optionsUser/notifUser">
            MÁS
          </button>
        </div>
        <div class="card-footer colorYellowP"></div>
      </div>
    </div>
  </div>
</div>
