<div class="row p-1 mt-2 justify-content-center">
  <div class="text-center">
    <h4>Hola {{ username }}, ¿qué quieres hacer?</h4>
  </div>
</div>

<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <p>
      ¿Quieres publicar una nueva receta?<br />Haz click en el botón que aparece
      aquí abajo
    </p>
    <button class="btn colorPurpleP" routerLink="/optionsUser/uploadRecipe">
      PUBLICAR RECETA
    </button>
    <!-- aquí se carga el formulario para publicar receta -->
  </div>
</div>

<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <p>
      ¿Quieres ver tus recetas ya publicadas?<br />Haz click en el botón que
      aparece aquí abajo
    </p>
    <button class="btn colorPurpleP" routerLink="/optionsUser/myRecipes">
      VER MIS RECETAS
    </button>
    <!-- aquí se carga la datatable -->
  </div>
</div>
