<div class="row">
    <div class="col-lg-6">
      <div class="m-3">
        <div class="card">
          <div class="card-header colorYellowP m-2">
            <div class="card-heading text-center">Foodie Crush Login</div>
          </div>
          <div class="card-body">
            <h5 class="mb-2">
              Hola, ¡Bienvenid@ de nuevo!👋👋
            </h5>
            <p class="text-muted text-sm mb-1 d-none d-md-block d-sm-block">Sabemos que estás impaciente por compartir tus nuevos descubrimientos culinarios con la comunidad ... ¡Adelante cocinillas!</p>
            <form (ngSubmit)="login()">
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email" [(ngModel)]="email" placeholder="email" name="email" email aria-required="true">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword" type="password" [(ngModel)]="password" placeholder="Password" name="password" aria-required="true">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label" for="remember">Recuérdame</label>
              </div>
              <button class="btn colorPurpleP" type="submit" >ENVIAR</button>
            </form>
          </div>
          <div class="card-footer colorYellowP m-2">  
            <div class="text-sm text-muted">
              ¿Todavía no tienes una cuenta? 
              <a routerLink="register">Regístrate aquí</a>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="col-lg-6 text-center m-auto pb-2">
      <img src="assets/img/pagLogin.jpg" alt="Manos de mujer espolvoreando galletas" class="img-thumbnail img-responsive imgLogin" data-bs-toggle="tooltip" title="Manos de mujer espolvoreando galletas">
    </div>
  </div>
  
  
  