<div class="row mb-3">
  <label class="col-form-label">
    Sube aquí una imagen de tu receta <br /><input
      type="file"
      class="mt-2"
      (change)="selectFile($event)"
    />
  </label>

  <div class="col-4">
    <button
      class="btn colorPinkP"
      [disabled]="!selectedFiles"
      (click)="upload()"
    >
      Subir archivo
    </button>
  </div>
</div>
<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped colorGreenP text-black"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>
<div *ngIf="message" class="alert alert-secondary" role="alert">
  {{ message }}
</div>
<!-- <div class="card my-3" *ngIf="mostrar">
    <div class="card-header">Aquí están tus archivos subidos</div>
    <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async">
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
        <button class="btn colorPurpleP" (click)="deleteFile(file)">ELIMINAR</button> 
      </li>
    </ul>
</div>
   -->
