<!-- FORMULARIO PARA SUBIR LA IMAGEN DE UNA RECETA -->
<div class="row mb-3">
  <label class="col-form-label">
    Sube aquí una imagen de tu receta <br /><input
      type="file"
      class="mt-2"
      (change)="selectFile($event)"
    />
  </label>

  <div class="col-4">
    <button
      class="btn colorPinkP"
      [disabled]="!selectedFiles"
      (click)="upload()"
    >
      Subir archivo
    </button>
  </div>
</div>

<!-- BARRA DE PROGRESO Y MENSAJE DE SUBIDA -->
<div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped colorGreenP text-black"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>
<div *ngIf="message" class="alert alert-secondary" role="alert">
  {{ message }}
</div>
