<div class="row p-1 my-3 justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/optionsADMIN">GESTIÓN</a></li>
      <li class="breadcrumb-item active">
        <a routerLink="/optionsADMIN/recipesConf"> RECETAS </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">APROBADAS</li>
    </ol>
  </nav>
</div>

<div *ngIf="pending">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pending">
  <div class="p-3 text-center my-3">
    <p *ngIf="recipesApproved == null">
      ¡Vaya! Aún no has aprobado ninguna receta. !Date prisa que el recetario
      Foodie está vacío!
    </p>
    <div *ngIf="recipesApproved != null">
      <div *ngIf="recipesApproved.length >= 1">
        <p *ngIf="recipesApproved.length == 1">
          De momento nuestro Foodie recetario solo cuenta con una única receta
          aprobada.
        </p>
        <p *ngIf="recipesApproved.length > 1">
          Nuestro Foodie Recetario cuenta ya con un total de
          {{ recipesApproved.length }} recetas aprobadas.
        </p>
        <p-table
          [value]="recipesApproved"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-striped"
          responsiveLayout="scroll"
          currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} entradas"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="id" class="encab">
                ID <p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="recipeName" class="encab">
                NOMBRE <p-sortIcon field="recipeName"></p-sortIcon>
              </th>
              <th pSortableColumn="category.name" class="encab">
                CATEGORÍA <p-sortIcon field="category.name"></p-sortIcon>
              </th>
              <th pSortableColumn="fechaBonita" class="encab">
                FECHA PUBLICACIÓN
                <p-sortIcon field="fechaBonita"></p-sortIcon>
              </th>
              <th class="encab">VER</th>
              <th class="encab">ELIMINAR</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-recipe let-columns="recipe">
            <tr class="text-center">
              <td>{{ recipe.id }}</td>
              <td>{{ recipe.recipeName }}</td>
              <td>{{ recipe.category.name }}</td>
              <td>{{ recipe.fechaBonita }}</td>
              <td>
                <button
                  class="btn colorYellowP"
                  (click)="setID(recipe.id)"
                  [routerLink]="[
                    '/optionsADMIN/recipesConf/recipeDetail',
                    'approved',
                    recipe.id
                  ]"
                >
                  <i class="fa fa-search"></i>
                </button>
              </td>

              <td>
                <button
                  class="btn colorPurpleP"
                  (click)="deleteRecipe(recipe.id)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<div class="row p-1 my-3 justify-content-center">
  <div class="text-center mb-2">
    <button class="btn colorPurpleP" routerLink="/optionsADMIN/recipesConf">
      ATRÁS
    </button>
  </div>
</div>
