<footer class="text-center p-2 colorPinkP">
  <section>
    <!-- Twitter -->
    <a
      class="btn btn-floating m-1"
      href="https://twitter.com/egarsan90"
      target="_blank"
      ><img src="assets/img/icons/twitter.png" alt=""
    /></a>

    <!-- Instagram -->
    <a
      class="btn btn-floating m-1"
      href="https://www.instagram.com/estefgar9/"
      target="_blank"
      ><img src="assets/img/icons/instagram.png" alt=""
    /></a>

    <!-- Linkedin -->
    <a
      class="btn btn-floating m-1"
      href="https://www.linkedin.com/in/garciaestefania19/"
      target="_blank"
      ><img src="assets/img/icons/linkedin.png" alt=""
    /></a>
    <!-- Github -->
    <a
      class="btn btn-floating m-1"
      href="https://github.com/egarsan176/FoodieCrush.vFinal"
      target="_blank"
      ><img src="assets/img/icons/github.png" alt=""
    /></a>
  </section>
  <div>
    <p>© 2022 Copyright. Desarrollado por Estefanía García</p>
  </div>
</footer>
